p{
    color: red;
    background-color: #964B00;
    text-align: center;
    line-height: 30px;
    .ozymandias{
        text-decoration:underline;
    }
}
h1{
    text-align: center;
}
h3{
    text-align: center;
    color: black;
}
body{
    font-family: Georgia;
}
a{
    color:rgb(0,270,0);
    text-decoration: none;
}
button{
    background-color: white;
    color: blueviolet;
}
textarea{
    color: black;
}
span{
    text-decoration: underline;
}