.card{
    width:200px;
    
    border:2px solid black;
    border-radius:10px;
    box-shadow:0 4px 8px black;
    margin:10px;
    padding:10px; 
    display:inline-block;
   

 
}
/* body{
    display:flex;
    flex-wrap:wrap;
    
} */



#img{
    width:100%;
    border-radius:5px 5px 0 0;
    border:1px solid black;
}

.card:hover{
    box-shadow: 0 8px 16px black;
}


