h1{
    text-align: center;
    text-decoration: red underline;
}
h2{
    text-align: start;
    text-decoration: wavy red overline;
}
h3{
    
    text-align: end;
    text-decoration:double red line-through;
}
p{
    text-align:justify;
    font-weight:400;
    text-decoration: dotted blue underline;
    line-height: 2.5;
}
/* none will remove all decoration like underline */
a{
    text-decoration: none;
}